<div class="transactions-container">
  <div class="transactions-header">
    <h1>Transactions</h1>
    <img src="assets/icons/search-interface-symbol.png" alt="Search" />
  </div>
  <div
    *ngFor="
      let group of reverseArrayOrder(
        groupTransactionsByDate(transactions) | keyvalue
      )
    "
  >
    <h3>
      {{
        group.key === (today | date : "yyyy-MM-dd")
          ? "Today"
          : group.key === (yesterday | date : "yyyy-MM-dd")
          ? "Yesterday"
          : (group.key | date : "MMM d")
      }}
    </h3>
    <div *ngFor="let transaction of group.value" class="transaction">
      <div class="circle-img">
        <img
          src="assets/images/{{ transaction.image }}"
          alt="{{ transaction.name }}"
        />
      </div>
      <div class="transaction-details">
        <p class="transaction-name">{{ transaction.name }}</p>
        <p class="transaction-date">
          {{ transaction.date | date : "MMM d, y" }}
          {{ transaction.time }}
        </p>
      </div>

      <div class="transaction-cost">
        <p>
          {{ transaction.cost | currency : "USD" }}
        </p>
      </div>
    </div>
  </div>
</div>
